
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" ng-app="appdetail" ng-controller="ctrldetail">
    <form ng-submit="savedata()">
        @Html.AntiForgeryToken()
        <h4>Sửa thông tin khách hàng</h4>
        <div class="col-md-5">
            <div class="form-group">
                <div class="col-md-12">
                    Tên khách hàng
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="products.TenKH" />
                </div>
                <br />

            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <div class="col-md-12">
                    Email
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="products.email" />
                </div>
                <br />

            </div>


        </div>

        <div class="col-md-5">
            <div class="form-group">
                <div class="col-md-12">
                    Địa chỉ
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="products.Diachi" />
                </div>
                <br />

            </div>


        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="col-md-12">
                    Số điện thoại
                </div>
                <div class="col-md-10">
                    <input type="number" class="form-control" ng-model="products.Sdt" />
                </div>
                <br />

            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-2">
                <button type="submit" class="btn btn-primary fa fa-save"> Lưu & thay đổi </button>
                <a href="~/Admin/KhachHangs/Index"> Quay về</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        var myapp = angular.module('appdetail', [])
        myapp.controller('ctrldetail', function ($scope, $http, $httpParamSerializerJQLike) {

            $scope.products = {};


            //Lấy mã sản phẩm hiển thị thông tin
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/')+1);
            $http({
                url: "/Admin/KhachHangs/DetailsData/?id=" + id,
                method: "GET"
            }
            ).then(function (res) {
                $scope.products = res.data;
                console.log($scope.products)
            });

            //Thêm dữ liệu vào cơ sở dữ liệu
            $scope.savedata = function () {
                //var des = CKEDITOR.instances.mota.getData();
             /*   $scope.products.Description = des;*/
                Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                $scope.products.__RequestVerificationToken = Token;
                dataRequest = $scope.products;
                console.log(dataRequest);
                $http({
                    method: 'POST',
                    url: '/Admin/KhachHangs/Edit',
                    data: $httpParamSerializerJQLike(dataRequest),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }
                }).then(function (res) {
                    if (res.data == false) {
                        alert("Lỗi sửa đổi bản ghi");
                    }
                    else {
                        alert("Thay đổi thông tin sản phẩm thành công");
                        window.location.href = "/Admin/KhachHangs/Index";
                        window.location.reload;
                    }
                });

            }


        });

    </script>
}

