

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý đồ nội thất</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "DoNoiThats")"><i class="fa fa-plus"></i>   Thêm mới</a>

<div class="" ng-app="myApp" ng-controller="mycontrol">
    <div class="mb-5">
        <div class="float-left">
            Hiện
            <select ng-model="numPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="{{getall}}">Tất cả</option>
            </select>
            bản ghi
        </div>
        <div class="float-right d-flex">
            <input ng-model="seach" type="text" />
            <button class="btn btn-primary fa fa-search"></button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Hình ảnh
                </th>
                <th class="col-2">
                    Tên đồ nội thất
                </th>

                <th>
                    Giá
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Loại đồ nội thất
                </th>
                <th>
                    Nhà cung cấp
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in ListNT | filter: seach">
                <td>
                    <img ng-src="{{data.HinhAnh}}" style="width:75px" />
                </td>
                <td>
                    {{data.TenDNT}}
                </td>
                <td>
                    {{data.Gia}}
                </td>
                <td>
                    {{data.soluong}}
                </td>
                <td>
                    {{data.TenLDNT}}
                </td>
                <td>
                    {{data.TenNCC}}
                </td>
                <td>

                    <a ng-click="detail(data.MaDNT)" class="btn btn-success mr-1"><i class="fa fa-info-circle"></i> </a>
                    <a ng-click="edit(data.MaDNT)" class="btn btn-warning"><i class="fa fa-pen-square"></i> </a>
                    <a ng-click="btndelete(data.MaDNT)" class="btn btn-primary mr-1"><i class="fa fa-trash"></i> </a>
                </td>
            </tr>

        </tbody>


    </table>
    <pagination ng-model="currentPage"
                total-items="noithat.length"
                max-size="maxSize"
                boundary-links="true">
    </pagination>
</div>

@section scripts
{

    <script>
        var myApp = angular.module("myApp", ['ui.bootstrap']).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);
        myApp.controller("mycontrol", mycontrol);
        function mycontrol($scope, $http) {

            $http(
                {
                    url: "/Admin/DoNoiThats/getAll",
                    method: "GET"

                }
            ).then(function (res) {
                $scope.datas = res.data;
            });
            $scope.detail = function (id) {
                $http({
                    method: "GET",
                    url: "/Admin/DoNoiThats/DetailsData/?id=" + id
                }).then(function (res) {
                    $scope.prodetail = res.data;
                    window.location.href = "/Admin/DoNoiThats/Details/" + id;
                })
            }
            $scope.getall = 0;
            //Phân trang
            $scope.ListNT = []
                , $scope.currentPage = 1
                , $scope.numPerPage = 10
                , $scope.maxSize = 6;
            $http({
                method: "GET",
                url: "/Admin/DoNoiThats/getAll"

            }).then(function (res) {
                $scope.noithat = res.data;
                $scope.getall = $scope.noithat.length;
                $scope.$watch('currentPage + numPerPage', function () {
                    var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                    $scope.ListNT = $scope.noithat.slice(begin, end);
                });
            });
            $scope.edit = function (id) {
                window.location.href = "/Admin/DoNoiThats/Edit/" + id;
            }
            $scope.btndelete = function (id) {
                var item = window.confirm("Bạn có muốn xóa sản phẩm này không ?");
                if (item == true) {
                    $scope.noithat = {};
                    $scope.noithat.MaDNT = id;
                }
                $http({
                    method: "POST",
                    url: "/Admin/DoNoiThats/Delete/?id=" + $scope.noithat,
                    data: $scope.noithat
                }).then(function (res) {
                    $scope.datadele = res.data;
                    alert("Xóa sản phẩm thành công");
                    window.location.reload();
                })

            }
        }
    </script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="~/Scripts/angular.js"></script>


}