
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm thông tin nhân viên</h2>

<div class="container-fluid" ng-app="myApp" ng-controller="myctrl">

    <form ng-submit="addData()">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NhanVien</h4>
            <hr />

            <div class="form-group">
                Tên tài khoản
                <div class="col-md-10">
                    <select class="form-control" ng-model="dulieu.MaNV" ng-options="x.userID as x.username for x in listcate">
                    </select>
                </div>
            </div>

            <div class="form-group">
                Tên nhân viên
                <div class="col-md-10">
                    <input type="text" ng-model="dulieu.TenNV" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                Số điện thoại
                <div class="col-md-10">
                    <input type="number" ng-model="dulieu.Sdt" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                Địa chỉ
                <div class="col-md-10">
                    <input type="text" ng-model="dulieu.Diachi" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-warning" type="submit">Thêm mới</button>
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </form>
    @section scripts {

        <script>
            var myApp = angular.module('myApp', []);
            myApp.controller('myctrl', function ($scope, $http, $httpParamSerializerJQLike) {
                $scope.dulieu = {};
                $scope.addData = function () {
                    Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                    $scope.dulieu.__RequestVerificationToken = Token;
                    dataRequest = $scope.dulieu;
                    console.log(dataRequest);
                    $http({
                        method: 'POST',
                        url: '/Admin/NhanViens/Create',
                        data: $httpParamSerializerJQLike(dataRequest),
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }
                    }).then(function (res) {
                        if (res.data.msg == false) {
                            alert("Lỗi thêm bản ghi");
                        }
                        else {
                            alert("Thêm bản ghi thành công");
                            window.location.href = "/Admin/NhanViens/Index"
                        }
                    });
                };
                $http({
                    url: "/Admin/NguoiDungs/getAll",
                    method: "GET"
                }
                ).then(function (res) {
                    $scope.listcate = res.data;
                    console.log($scope.listcate);
                });
            });
        </script>
    }
</div>