
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div ng-app="myapp" ng-controller="myctrl">
    <h2>Chi tiết thông tin {{datas.TenNV}}</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhân viên
        </dt>

        <dd>
            {{datas.TenNV}}
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            {{datas.Sdt}}
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            {{datas.Diachi}}
        </dd>

        <dt>
            Tên tài khoản
        </dt>

        <dd>
            {{datas.username}}
        </dd>

    </dl>


    <a ng-click="edit()" class="btn btn-success"><i class="fa fa-pen-square"></i> Sửa</a>
    <a class="btn btn-facebook" href="~/Admin/NhanViens/Index"><i class="fa fa-backward"></i> Quay lại</a>

</div>
@section Scripts{

    <script>
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope, $http) {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $http({
                url: "/Admin/NhanViens/DetailsData/?id=" + id,
                method: "GET"
            }
            ).then(function (res) {
                $scope.datas = res.data;
                console.log($scope.datas);
            });

            $scope.edit = function () {
                window.location.href = "/Admin/NhanViens/Edit/"+id ;
            }
        });
    </script>
}